@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
li, ul, a{
    text-decoration: none;
    list-style: none;
}
ul{
    margin: 0;
}
body{
    background: white;
}
:root{
    --roxo:#4200FF;
}

/* Header  */

header{
    color: var(--roxo);
    background-image: url('../img/gramado.jpg');
    width: 100vw !important;
    height: 90vh;
}
header > div{
    font-weight: 700;
    display: flex;
    align-items: center;
}
header > nav ul{
    display: flex;
}
nav ul li{
    padding: 10px;
    text-transform: uppercase;
}
nav ul li a{
    color: var(--roxo);
}

/* Container Header Slogan */
.containerHeader{
    height: 600px;
    width: 100vw;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.saibaMaisSlogan{
    border: none;
    border-radius: 7px;
    background: #4200FF;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    outline: none;
}

/* Containers de segmentos */
.containerSegmentos{
    margin-top: 100px;
}
.containerSegmentos > div > h1{
    text-transform: uppercase;
    font-weight: 700;
    border-bottom: solid 5px var(--roxo);
    width: 500px;
    margin: 0 auto;
    border-radius: 5px;
    color: #1d1e20;
}
.cardBox{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxCard{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: white;
    width: 25vw;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px #dcdcdc;
    border: solid 1px #fafbfa;
}
.card-icon{
}
.card-texto{
    width: 65%;
}